.hero-image {
    height: 30em;
    width: 100%;
    display: flex;
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover; 
    background-image: url("../images/heroImage8.jpeg");
}