.card-container {
    margin-bottom: 1em;
    margin-right: 1em;
    width: 23%;
    background-color: white;
}

.card-container img {
    max-width: 100%;
    height: auto;
    filter: sepia(20%);
    filter: opacity(82%);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .card-container {
        width: 90%;
    }

 }