@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patrick+Hand&display=swap');

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
    margin-bottom: 0;
}

h5 {
    margin-top: 0;
    letter-spacing: 2px;
}

body {
    background-color: rgb(224, 224, 224);
}

.search-form input {
    border: none;
    height: 2em;
    background-color: white !important;
}

.search-form {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 1em;
}

.search-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.search-form button {
    padding: 1em 2em 1em 2em;
    background-color: rgba(0,0,0);
    color: white;
    border: none;
    transition: background-color 250ms;
    border-radius:5px;
}

.search-form button:hover {
    background-color:#344049;
}

.search-form input {
    font-size: 17px;
}

.card-list {
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    margin-left: 6em;
    margin-right: 6em;
    align-items: flex-start;
    justify-content: space-between;
}

.recipes-search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:white;
}

.no-results-display {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .search-form {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1em;
        margin-right: 1em;
     }

     
    .search-form input {
        height: 2em;
        margin-bottom: 1em;
    }

    .card-list {
        margin: 1em;
     }
  }